.card-container{
    display: flex;
    flex-direction: column;
    .card{
        transition: all 1s linear;

            .img-container{
                position: relative;
                overflow: hidden;
                height: 18rem !important;
                margin: 0;
                padding: 0;
            }

            .card-img-top{
                transition: all 1s linear;
            }

            .img-container:hover .card-img-top{
                transform: scale(1.2);
            }

            .cart-btn{
                position: absolute;
                bottom: -0.2rem;
                right: -0.6rem;
                background: var(--altBlue);
                color: var(--offWhite);
                font-size: 1.2rem;
                border-radius: 0.7rem 0 0 0;
                transform: translate(100% , 100%);
                transition: all 1s linear; 
            }
            .img-container:hover .cart-btn{
                transform: translate(0 , 0);
            }
            .cart-btn:hover{
                color: var(--offWhite);
                background: var(--mainBlue);
                cursor: pointer
            }
    }

    .card-footer{
        background: gray ;
        transition: all 1s linear;
        font-size: 1.3rem;
        font-weight: 500;
    }

    &:hover{
        .card{
            border: 0.4rem solid rgba(0,0,0,0.2);
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
        }
        .card-footer{
            background: rgba(0,0,0,0.2);
            border-top: transparent;
        }
    }

}